/* Layout (global rules for all sizes) */
body {
    margin: 0;
    padding: 0;
}
#innerWrapper {
    height: 100%;
    width: 90%;
    margin-left: auto;
    margin-right: auto;
    left: 0;
    right: 0;
     position: absolute;
}
#outerWrapper {
   position: relative;
}


 header .h_bigOne
 {
    float: left;
    width: 70%;
    height: 100%;
    border-bottom: 2px solid #858282;
    position: relative;
    margin-right: 30px

}

/* Layout Large Screens (default for older browsers) */
header
{
    /*height: 13%;*/
    height: 70px;
    /*background:rgb(255,255,255);*/

}

.h_bigOne #h_textUP
 {
    right: 20px;
    position: absolute;
    bottom: 10px;
}

#h_textDW
 {
    right: 20px;
    position: absolute;
    bottom: -30px;
} 

header .h_homeLink{
    float: right;
    width: 70px;
    height: 70px;
    margin: 25px -150px 0px 15px;
    padding-left: 10px;

}  

article { 
    background-image: url("../_media/bixi-background_medium.jpg");
    background-position: top center;
    background-repeat: no-repeat;
    background-attachment: scroll;
    min-height: 100%;
    min-width: 100%;    
    max-width: 100%;
    height: 80%;
    width: 50%;
    margin: 0px auto 0px auto;

  /*  width: 100%;
    height: 80%;*/

}
article section {
    /*background:rgb(255,255,0);*/
    width: 50%;
    height: 60%;
   float: left;
}
.art_textBox{
  padding: 1em;
  font-size: 1.1em;
  letter-spacing: 1px;
}
.circle {
  position: relative;
  width: 70px;
  height: 70px;
}

.circle span {
  display: block;
  position: absolute;
  font-size: 1.1em;
  text-align: center;
  top: 50%;
  left: 50%;
  -ms-transform: translate(-50%, -50%);
  -webkit-transform: translate(-50%, -50%);
  -moz-transform: translate(-50%, -50%);
}
article aside
{
    width: 50%;
    height: 60%;
    float: right;
    margin-top: 8%;
    position: relative;  
}
article aside div
{  
    width: 200px;
    height: 80px;
    font-size: 1.5em;
    color: black;

}
article nav {
    width: 100%;
    height: 20%;
    position: absolute;
    bottom: 0px;
    left: 25%;

}
.aside_button{
  width: 50px;
  height: 50px;
}

.pointerLeft{
  width: 15px;
  height: 15px;
  border-width: 4px 4px 0 0;
  border-radius: 2px 2px;
  transform: rotate(-135deg);
}
footer
{
    width: 100%;
    height: 7%;
    float: left;
}

/*@media only screen and (min-width:481px) and (max-width:850px) {
.circle {
  position: relative;
  width: 60px;
  height: 60px;
}
#outerWrapper {
    background-image: url("../_media/bixi-background_medium600.jpg");
}
header .h_homeLink{
    float: right;
    width: 60px;
    height: 60px;
} 
article aside div
{  
    margin-top: 20px;
    width: 200px;
    height: 80px;
    font-size: 1.5em;
}
.aside_button{
  width: 40px;
  height: 40px;
}

.pointerLeft{
  width: 13px;
  height: 13px;
}  
}
@media only screen and (min-width:481px) and (max-width:775px) {
.circle {
  width: 50px;
  height: 50px;
}
header .h_homeLink{

    width: 50px;
    height: 50px;
} 
article aside div
{  
    margin-top: 20px;
    width: 200px;
    height: 80px;
    font-size: 1.3em;
}
.circle span {
  font-size: 1.0em;
}
.aside_button{
  width: 35px;
  height: 35px;
}

.pointerLeft{
  width: 12px;
  height: 12px;
}  
article nav {
    width: 55%;
    height: 20%;

}
}*/

