html {
    /*font-family: 'sofadione-regular';*/
        height: 100%;

}
body {
/*   background: rgb(25,33,30);*/
    background:rgb(255,0,255);
    width: 100%;
    height: 100%;
    margin: 0;
    overflow-x: hidden;
    padding: 0;
/* font-family: 'sofadione-regular';
*/}


article, aside, details, figcaption, figure, footer, header, hgroup, main, nav, section, summary {
    display: block;
}

/*.page {
    background: none no-repeat fixed 50% 50% / cover;
    height: 100%;
    min-height: 70%;
    max-height: 100%;
    overflow: hidden;
    position: relative;
    width: 100%;
    margin: 0 auto; 
    overflow:auto;
    background-image: url("../_media/bixi-background4.jpg"); 
}
*/
.page {
    background:rgb(255,255,255);
    max-width: 95%;
    height: 100%;
    margin: 0px auto 0px auto;
    position: relative;
}

h1 {
    font-size: 2em;
    font-weight: normal;
    color: #a6430a;
    margin: 0 0 .5em 0;
}

h2 {
    font-size: 1.7em;
    margin: 0 0 1em 0;
}
h3 {
    font-size: 1.5em;
    margin: 0 0 1em 0;
}

article
{
    background-color: #BDD8DA;

}
article section {
    background-color: #B1B1B1;
}
article nav {
    background-color: #FF9900;
}

article aside
{
    background-color: #7C71AD;
}

footer {
    background-color: #445569;
}