/* Layout (global rules for all sizes) */
body {
    margin: 0;
    padding: 0;
}


 header .h_bigOne
 {
    float: left;
    width: 70%;
    height: 100%;
    border-bottom: 2px solid #858282;
    background:rgb(255,255,255);
    position: relative;

}           

/* Layout Large Screens (default for older browsers) */
header
{
    height: 120px;
    background:rgb(255,255,255);

}

.h_bigOne #h_textUP
 {
    right: 20px;
    position: absolute;
    bottom: 10px;
}

#h_textDW
 {
    right: 20px;
    position: absolute;
    bottom: -30px;
} 

header .h_homeLink{
    float: left;
    background:rgb(255,255,255);
    width: 150px;
    height: 150px;
    margin: 15px 0px 0px 15px;

}  

article { 
    width: 100%;
    /*height: 80%;*/
}
article section {
    width: 50%;
    height: 80%;
   float: left;
}
article aside
{
    width: 50%;
    height: 80%;
    float: right;    
}
article aside div
{  
    width: 589px;
    height: 500px;
    padding-left: 3.9%;
    margin: auto;
    background: url(../_media/lg_aside_bixi_500.jpg) no-repeat;
}
article nav {
    width: 50%;
    height: 20%;
    float: left;
}

footer
{
    width: 100%;
    height: 10%;
    float: left;
}