/* Layout (global rules for all sizes) */
body {
    margin: 0;
    padding: 0;
}

#innerWrapper {
    /*background:rgba(255,0,255,0.1);*/
    height: 100%;
    width: 90%;
    margin-left: auto;
    margin-right: auto;
    left: 0;
    right: 0;
     position: absolute;
}
#outerWrapper {
    background-image: url("../_media/background_BBIXI_large.jpg");
    background-position: right bottom;
    background-repeat: no-repeat;
    background-attachment: scroll;
    min-height: 100%;
    min-width: 100%;    
    max-width: 100%;
    height: 100%;
    width: 100%;
    margin: 0px auto 0px auto;
    position: relative;
}

 header .h_bigOne
 {
    float: left;
    width: 70%;
    height: 100%;
    border-bottom: 2px solid #858282;
    position: relative;
    margin-right: 30px;
    margin-left: -90px;

}

/* Layout Large Screens (default for older browsers) */
header
{
    /*height: 13%;*/
    height: 80px;
    /*background:rgb(255,255,255);*/

}

.h_bigOne #h_textUP
 {
    right: 20px;
    position: absolute;
    bottom: 10px;
}

#h_textDW
 {
    right: 20px;
    position: absolute;
    bottom: -30px;
} 
#h_textDW span
{
    padding: 10px;
}
header .h_homeLink{
    float: right;
    width: 90px;
    height: 90px;
    margin: 25px -150px 0px 15px;
    padding-left: 10px;

}  

article { 
    width: 100%;
    height: 80%;

}
article section {
    width: 50%;
    height: 70%;
   float: left;
   position: relative;
   margin-top: 13%;
}

#mycontactSection
{
   margin-top: 7%;

}

article section div
{  
/*    width: 250px;
    height: 100px;*/
    font-size: 2em;
    color: black;
margin-left: 15%;
}
article aside
{
    width: 50%;
    height: 80%;
    float: right;
   margin-top: 20%;
    position: relative;  
}
article aside div
{  
    width: 250px;
    height: 100px;
    font-size: 2em;
    color: black;

}

.aside_button{
   width: 60px;
  height: 60px;
}
article nav {
    width: 50%;
    height: 20%;
    float: left;
position: absolute;

}
#mobile_background
{
  display: none;
}
footer
{
    width: 100%;
    height: 7%;
    float: left;
}

@media only screen and (min-width:992px) and (max-width:1199px) {
.circle {
  position: relative;
  width: 85px;
  height:85px;
}
header .h_homeLink{

    width: 85px;
    height: 85px;
} 
article aside div
{  
    margin-top: 20px;
    width: 240px;
    height: 100px;
    font-size: 1.8em;
}
article nav {
    bottom: 10px;     
}
.circle span {
  font-size: 1.3em;
}
.aside_button{
  width: 50px;
  height: 50px;
}

.pointerLeft{
  width: 18px;
  height: 18px;
}  

.art_textBox{
  padding: 1em;
  font-size: 1.3em;
  letter-spacing: 2px;
}
}
@media only screen and (max-height:685px) {
article nav {
    width: 50%;
    height: 20%;
    bottom: -5%;
}
.circle {
  position: relative;
  width: 80px;
  height:80px;
}
header .h_homeLink{

    width: 80px;
    height: 80px;
} 
.circle span {
  font-size: 1.2em;
}
}
@media only screen and (max-height:505px) {
article nav {
bottom: -5%;
}
.circle {
  position: relative;
  width: 65px;
  height:65px;
}
header .h_homeLink{

    width: 65px;
    height: 65px;
} 
.circle span {
  font-size: 1.1em;
}

}