/* Layout (global rules for all sizes) */
body {
    margin: 0;
    padding: 0;
}

#innerWrapper {
    /*background:rgba(255,0,255,0.1);*/
    height: 100%;
    width: 90%;
    margin-left: auto;
    margin-right: auto;
    left: 0;
    right: 0;
     position: absolute;
}
#outerWrapper {
    background-image: url("../_media/bixi-background.jpg");
    background-position: right bottom;
    background-repeat: no-repeat;
    background-attachment: scroll;
    min-height: 100%;
    min-width: 100%;    
    max-width: 100%;
    height: 100%;
    width: 100%;
    margin: 0px auto 0px auto;
    position: relative;
}

 header .h_bigOne
 {
    float: left;
    width: 70%;
    height: 100%;
    border-bottom: 2px solid #858282;
    position: relative;
    margin-right: 30px

}

/* Layout Large Screens (default for older browsers) */
header
{
    /*height: 13%;*/
    height: 100px;
    /*background:rgb(255,255,255);*/

}

.h_bigOne #h_textUP
 {
    right: 20px;
    position: absolute;
    bottom: 10px;
}

#h_textDW
 {
    right: 20px;
    position: absolute;
    bottom: -30px;
} 

header .h_homeLink{
    float: right;
    /*background:rgb(255,255,255);*/
    width: 90px;
    height: 90px;
    margin: 40px -150px 0px 15px;
    padding-left: 10px;

}  

article { 
    width: 100%;
    height: 80%;

}
article section {
    width: 50%;
    height: 70%;
   float: left;
   position: relative;
}
article aside
{
    width: 50%;
    height: 80%;
    float: right;
    margin-top: 8%;
    position: relative;  
}
article aside div
{  
    width: 250px;
    height: 100px;
    font-size: 2em;
    color: black;
    /*height: 500px;*/
    /*padding-left: 3.9%;*/
   /*word-wrap: break-word;*/
     /*background: url(../_media/lg_aside_bixi_500.jpg) no-repeat;*/
}

.aside_button{
   width: 60px;
  height: 60px;
}
article nav {
    width: 50%;
    height: 20%;
    float: left;
position: absolute;

}

footer
{
    width: 100%;
    height: 7%;
    float: left;
}
