body {
width: 100%;
margin: 0px auto;
min-width: 320px;
max-width: 480px;
}
#innerWrapper {
    height: 100%;
    width: 90%;
    margin-left: auto;
    margin-right: auto;
    left: 0;
    right: 0;
     position: absolute;
}
#outerWrapper {
   position: relative;

}
 header .h_bigOne
 {
    width: 100%;
    height: 100%;
    /*border-bottom: 2px solid #858282;*/
    position: relative;
    margin-right: 30px;
    font-size: 1.2em;
    border: 1px dashed #3F2E2E;
text-align: center;
}
header
{
    height: 60px;
margin-top: 15px;
padding-bottom: 15px;
}

.h_bigOne #h_textUP
 {
display:inline-block;
vertical-align:middle; 
margin-top: 23px;

}
#red
{
    color: #801515;
    font-weight: bold;
}
#h_textDW
{
 display: none;
} 

header .h_homeLink{
    width: 110%;
   display: block;
  position: absolute;
  text-align: center;
  font-size: 0.9em;
  left: -5%;
  margin-top: 55px;
color: #FFF;
    background-color: #990033;

} 

.h_homeLink:hover{
    background-color: #cc0044;
} 
article { 
     width: 100%;
    height: 90%; 
    height: 80%;
    position: relative;

}
article.mobileLayout  {
margin-top: 80px; 
     width: 100%;
    height: 90%; 
    height: 80%;
    position: relative;

}
article section {
    /*background:rgb(255,255,0);*/
    width: 100%;
    height: 90%;
    position: absolute;
  top: 210px;
  left: 0;
   background-image: url("../_media/bixi-mobile.jpg");
   background-position: bottom;
    background-repeat: no-repeat;
    background-attachment: scroll;
}
.art_textBox{
  padding: 1em;
  font-size: 1.2em;
  letter-spacing: 1px;
}

article aside
{
  width: 50%;
  height: 60%;
  position: absolute;
  bottom: 0;
  left: 0;
  top: 210px;
}
article aside div
{  
    width: 230px;
    height: 80px;
    font-size: 1.8em;
    color: black;

}

article nav {
    width: 110%;
    height: 10%;
    position: absolute;
      top: 0;
  left: -5%;
  clear:both;
}
.circle {
 border-radius: 1%;
   width: 100%;
  height: 50px;
    margin-left: 0px;
  margin-right: 0px;
  margin-top: 15px;
  padding: 0px;
}

.circle span {
  display: block;
  position: absolute;
  font-size: 1.3em;
  text-align: center;
  top: 50%;
  left: 50%;
  -ms-transform: translate(-50%, -50%);
  -webkit-transform: translate(-50%, -50%);
  -moz-transform: translate(-50%, -50%);
}
.aside_button{
  width: 60px;
  height: 60px;
  margin-right: 15px;
}
.pointerLeft{
  width: 15px;
  height: 15px;
  border-width: 4px 4px 0 0;
  border-radius: 2px 2px;
  transform: rotate(-135deg);
}

#PI_mobile{
  margin-bottom: 20%;
}


footer
{
    width: 100%;
    height: 7%;
    float: left;
}

@media only screen and (max-width:440px) {
 header .h_bigOne
 {

    font-size: 1.0em;

}
}